{
{% if irods_env_authentication_file %}
  "irods_authentication_file": "{{ irods_env_authentication_file }}",
{% endif %}
{% if irods_env_authentication_scheme %}
  "irods_authentication_scheme": "{{ irods_env_authentication_scheme }}",
{% endif %}
{% if irods_env_client_server_negotiation %}
  "irods_client_server_negotiation": "{{ irods_env_client_server_negotiation }}",
{% endif %}
{% if irods_env_client_server_policy %}
  "irods_client_server_policy": "{{ irods_env_client_server_policy }}",
{% endif %}
{% if irods_env_control_plane_port %}
  "irods_control_plane_port": {{ irods_env_control_plane_port }},
{% endif %}
{% if irods_env_control_plane_key %}
  "irods_control_plane_key": "{{ irods_env_control_plane_key }}",
{% endif %}
{% if irods_env_relative_cwd is not none and irods_env_relative_cwd != '/DEFAULT' %}
  {% if irods_env_relative_cwd == '' %}
  "irods_cwd": "/{{ irods_env_zone_name }}",
  {% else %}
  "irods_cwd": "/{{irods_env_zone_name }}/{{ irods_env_relative_cwd }}",
  {% endif %}
{% endif %}
{% if irods_env_debug or irods_env_debug == 0 %}
  "irods_debug": {{ irods_env_debug }},
{% endif %}
{% if irods_env_default_hash_scheme %}
  "irods_default_hash_scheme": "{{ irods_env_default_hash_scheme }}",
{% endif %}
{% if irods_env_default_resource %}
  "irods_default_resource": "{{ irods_env_default_resource }}",
{% endif %}
{% if irods_env_encryption_algorithm %}
  "irods_encryption_algorithm": "{{ irods_env_encryption_algorithm }}",
{% endif %}
{% if irods_env_encryption_key_size or irods_env_encryption_key_size == 0 %}
  "irods_encryption_key_size": {{ irods_env_encryption_key_size }},
{% endif %}
{% if irods_env_encryption_num_hash_rounds or irods_env_encryption_num_hash_rounds == 0 %}
  "irods_encryption_num_hash_rounds": {{ irods_env_encryption_num_hash_rounds }},
{% endif %}
{% if irods_env_encryption_salt_size or irods_env_encryption_salt_size == 0 %}
  "irods_encryption_salt_size": {{ irods_env_encryption_salt_size }},
{% endif %}
{% if irods_env_gsi_server_dn %}
  "irods_gsi_server_dn": "{{ irods_env_gsi_server_dn }}",
{% endif %}
{% if irods_env_relative_home is not none and irods_env_relative_home != '/DEFAULT' %}
  {% if irods_env_relative_home == '' %}
  "irods_home": "/{{ irods_env_zone_name }}",
  {% else %}
  "irods_home": "/{{ irods_env_zone_name }}/{{ irods_env_relative_home }}",
  {% endif %}
{% endif %}
{% if irods_env_log_level or irods_env_log_level == 0 %}
  "irods_log_level": {{ irods_env_log_level }},
{% endif %}
{% if irods_env_match_host_policy %}
  "irods_match_host_policy": "{{ irods_env_match_host_policy }}",
{% endif %}
{% if irods_env_plugins_home %}
  "irods_plugins_home": "{{ irods_env_plugins_home }}",
{% endif %}
{% if irods_env_ssl_ca_certificate_file %}
  "irods_ssl_ca_certificate_file": "{{ irods_env_ssl_ca_certificate_file }}",
{% endif %}
{% if irods_env_ssl_ca_certificate_path %}
  "irods_ssl_ca_certificate_path": "{{ irods_env_ssl_ca_certificate_path }}",
{% endif %}
{% if irods_env_ssl_certificate_chain_file %}
  "irods_ssl_certificate_chain_file": "{{ irods_env_ssl_certificate_chain_file }}",
{% endif %}
{% if irods_env_ssl_certificate_key_file %}
  "irods_ssl_certificate_key_file": "{{ irods_env_ssl_certificate_key_file }}",
{% endif %}
{% if irods_env_ssl_dh_params_file %}
  "irods_ssl_dh_params_file": "{{ irods_env_ssl_dh_params_file }}",
{% endif %}
{% if irods_env_ssl_verify_server %}
  "irods_ssl_verify_server": "{{ irods_env_ssl_verify_server }}",
{% endif %}
{% if irods_env_xmsg_host %}
  "irods_xmsg_host": "{{ irods_env_xmsg_host }}",
{% endif %}
{% if irods_env_xmsg_port %}
  "irods_xmsg_port": {{ irods_env_xmsg_port }},
{% endif %}
  "irods_host": "{{ irods_env_host }}",
  "irods_port": {{ irods_env_port }},
  "irods_user_name": "{{ irods_env_user_name }}",
  "irods_zone_name": "{{ irods_env_zone_name }}"
}
